<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block title %}Register page{% endblock title %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Register page</h1>

<form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}

    {{form.as_p}}
     <div>

<!--    <label for="username">Username:</label>-->
<!--    <input id="username" type="text" name="username"> <br> <br>-->

<!--    <label for="first_name">First name:</label>-->
<!--    <input id="first_name" type="text" name="first_name"> <br> <br>-->

<!--    <label for="last_name">Last name:</label>-->
<!--    <input id="last_name" type="text" name="last_name"> <br> <br>-->

<!--    <label for="email">Email:</label>-->
<!--    <input id="email" type="email" name="email"> <br> <br>-->

<!--    <label for="password">Password:</label>-->
<!--    <input id="password" type="password" name="password"> <br> <br>-->

    <button type="submit">Submit</button>

</form>
{% endblock content %}
</body>
</html>